.hidden {
    display: none;
}

h1 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

form {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

div {
    margin-bottom: 10px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

b,
em {
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
}

input.go {
    width: 60px;
    height: 30px;
    border-radius: 0;
    border: 1px solid #ccc;
    background-color: #9e4e88;
    color: #fff;
}

p {
    font-size: 20px;
}

strong {
    font-size: 20px;
}